<div class="container">
<div class="alert alert-dark col-5 d-flex" role="alert">
    <strong>作品編集</strong>
</div>
</div>

<div class="row">
 <div class="col-md-6 offset-md-3">
<%= form_with model: @musical, url: admin_musical_path(@musical), local:true do |f| %>
<table width="50%" class="table table-borderless">
 <tbody>
  <tr>
   <td>画像</td>
   <td><%= f.attachment_field :image %></td>
  </tr>
  <tr>
   <td>作品名</td>
   <td><%= f.text_field :title, class: "form-control" %></td>
  </tr>
  <tr>
   <td>あらすじ</td>
   <td><%= f.text_field :introduction, class: "form-control" %></td>
  </tr>
 </tbody>
</table>

 <div class="text-center">
  <span><%= f.submit '変更を保存', class:"btn btn-success" %></span>
 </div>
<% end %>
</div>
</div>