<div class="container">
<div class="alert alert-dark col-5 d-flex" role="alert">
    <strong>作品別レビュー</strong>
</div>
</div>

<div class="row">
 <div class="col-md-12 offset-md-2">
   <h3><strong><%= @musical.title %></strong></h3>
   <br>
   <br>
 </div>
 </div>
  <div class="col-md-6 offset-md-2">
    <%= attachment_image_tag @musical, :image, :fill, 300, 300, format: 'jpeg' %>
  </div>
  <div class="col-md-8">
  <table width="50%" class="table table-borderless">
  <tr>
   <td>あらすじ</td>
   <td><%= @musical.introduction %></td>
  </tr>
  </table>
  <br><br><br>
  </div>

  <% @reviews.each do |review| %>
    <table>
    <tr><%= review.user.name %></tr>

    <tr id="star-rate-<%= review.id %>">
        <script>
        $('#star-rate-<%= review.id %>').raty({
          size: 36,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn: "<%= asset_path('star-on.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,
          readOnly: true,
          score: <%= review.evaluation %>,
        });
        </script>
    </tr>
    <tr>
     <td>レビュー</td>
     <td>
       <%= review.comment %>
     </td>
    </tr>
    <td>
    <% if review.favorited_by?(current_user) %>
    <p>
      <%= link_to user_favorite_path(review), method: :delete do %>
        ♥<%= review.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to user_favorites_path(review), method: :post do %>
        ♡<%= review.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  </td>
    </table>

  <br>
<% end %>


