<!DOCTYPE html>
<html>
  <head>
    <title>MusicalLike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
    <div class="container px-lg-0">
    <div class="row">
    <div class="col-md-3 pull-right d-flex align-items-center">
    <h3>LOGO</h3>
    </div>
    <div class="col-md-9">

   <% if user_signed_in? %>
   <nav class="navbar navbar-light bg-white" class="text-right">
    <div>ようこそ、<%= current_user.name %>さん！</div>
    <button type="button" class="btn btn-outline-secondary" >
      <%= link_to "作品一覧", user_musicals_path %>
     </button>
     <button type="button" class="btn btn-outline-secondary" >
      <%= link_to "口コミ投稿", new_user_review_path %>
     </button>
     <button type="button" class="btn btn-outline-secondary" >
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
     </button>
   </nav>
    <% elsif admin_signed_in? %>
    <nav class="navbar navbar-light bg-white">
     <button type="button" class="btn btn-outline-secondary" class="text-right">
      <%= link_to "作品追加", new_admin_musical_path %>
     </button>
     <button type="button" class="btn btn-outline-secondary" class="text-right">
      <%= link_to "カテゴリー追加", admin_category_path %>
     </button>
     <button type="button" class="btn btn-outline-secondary" class="text-right">
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
     </button>
    </nav>
    <% else %>
    <nav class="navbar navbar-light bg-white" class="text-right">
     <button type="button" class="btn btn-outline-secondary" >
      <%= link_to "新規登録", new_user_registration_path %>
     </button>
     <button type="button" class="btn btn-outline-secondary">
      <%= link_to "ログイン", new_user_session_path %>
     </button>
   </nav>
    <% end %>
    </div>
    </div>
    </div>
    </header>

    <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>

  </body>
</html>
